@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,300&family=Roboto+Slab:wght@500;700;800;900&family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}
.main {
  box-sizing: border-box;
  overflow: hidden;
  width: 336px;
  min-height: 236px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid lightskyblue;
  /* background-color: rgb(9, 56, 97); */
  border-radius: 5%;
}
.header {
  background-color: rgb(248, 248, 6);
  height: 24px;
  width: auto;
}
button.add-action {
  border: 1px solid lightskyblue;
  width: 152px;
  height: 45px;
  margin-top: 16px;
  margin-right: 95px;
  border-radius: 40px;
  margin-left: 86px;
  background-color: #9953f1;
  color: white;
  display: flex;
}
.add-action > p {
  /* margin-bottom: 10px; */
  margin: 0px;
  padding-left: 20px;
  margin-top: 13px;
  font-size: 13px;
  height: 20px;
}
.first-title {
  font-size: 26px;
  font-weight: bold;
  font-family: Roboto;
  margin-left: 108px;
  margin-top: 21px;
  width: 120px;
  padding-bottom: 14px;
}
.text-action {
  width: 280px;
  height: 38px;
  margin-left: 27px;
  border-radius: 6px;
  border: 1ps solid lightskyblue;
  margin-top: 7px;
}
.sort-asc {
  display: none;
}
.sort-desc {
  display: none;
}
.display {
  display: block;
  margin-left: 279px;
  margin-bottom: 20px;
  margin-top: 0px;
}
img.img-button {
  height: 42px;
  width: 42px;
  padding-right: 5px;
  margin-top: 0px;
  background-color: #aa68fe;
  overflow: hidden;
}
.input-with-text {
  margin-right: 10px;
  border-radius: 5px;
}
.tasks-text {
  margin-left: 20px;
  /* display: flex; */
  /* flex-direction: row; */
}
.tasks-text > p {
  display: block;
  margin-left: 32px;
  margin-top: 0px;
  padding-top: 2px;
  width: 200px;
}
.tasks > p > img {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 214px;
}
.flex {
  display: flex;
}
img.remove {
  margin-left: 134px;
}
